@{
    ViewBag.Title = "Dashboard";
}


<script src="~/Scripts/js/highcharts.js"></script>
<script src="~/Scripts/js/highcharts-more.js"></script>
<script src="~/Scripts/js/modules/drilldown.js"></script>


<div class="content-heading" id="mainTable">
    <!-- START Language list-->
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-default">Filter By Distributor</button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li id="telstra">
                    <a href="#mainTable" data-set-lang="en">Telstra</a>
                </li>
                <li id="optus">
                    <a href="#mainTable" data-set-lang="es">Optus</a>
                </li>
                <li id="mac">
                    <a href="#mainTable" data-set-lang="es">Macquarie</a>
                </li>
                <li id="optus">
                    <a href="#mainTable" data-set-lang="es">Spark Digital</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-default" disabled="true" id="clientButton">Filter By Client</button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li id="client0" class="client">
                    <a href="#mainTable" data-set-lang="es" hidden="true">GSANZ</a>
                </li>
                <li id="client1" class="client">
                    <a href="#mainTable" data-set-lang="es" hidden="true">Client1</a>
                </li>
                <li id="client2" class="client">
                    <a href="#mainTable" data-set-lang="es" hidden="true">Client2</a>
                </li>
                <li id="client3" class="client">
                    <a href="#mainTable" data-set-lang="es" hidden="true">Client3</a>
                </li>
                <li id="client4" class="client">
                    <a href="#mainTable" data-set-lang="es" hidden="true">Client4</a>
                </li>
                <li id="client5" class="client">
                    <a href="#mainTable" data-set-lang="es" hidden="true">Client5</a>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-default" disabled="true" id="dateFilter">Filter By Month</button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li>
                    <a href="#mainTable" data-set-lang="en">Last Month</a>
                </li>
                <li>
                    <a href="#mainTable" data-set-lang="es">Last 3 Months</a>
                </li>
                <li>
                    <a href="#mainTable" data-set-lang="es">Last 6 Months</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END Language list    -->
    Client Analysis
    <small>Synopsis</small>
</div>
<!-- START widgets box-->
<div class="row">


    <div class="col-lg-2 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bk-red align-center">
            <div class="row row-table">
                <div class="col-xs-4 text-center bk-red-dark pv-lg">
                    <em class="fa fa-mobile fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h5 mt0">$552.24 (High)</div>
                    <div class="h6 text-uppercase">No Usage (Mobiles)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bk-red">
            <div class="row row-table">
                <div class="col-xs-4 text-center bk-red-dark pv-lg">
                    <em class="fa fa-globe fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h5 mt0">$202.99 (High)</div>
                    <div class="h6 text-uppercase">Excess Data Charges</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-gray">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-gray-dark pv-lg">
                    <em class="fa fa-mobile fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h5 mt0">$550.55 (Moderate)</div>
                    <div class="h6 text-uppercase">No Usage (Fixed Lines)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-gray">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-gray-dark pv-lg">
                    <em class="fa fa-mobile fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h5 mt0">$149.97 (Moderate)</div>
                    <div class="h6 text-uppercase">No Usage (Data Packs)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-primary">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                    <em class="fa fa-globe fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h5 mt0">$79.00 (Low)</div>
                    <div class="h6 text-uppercase">No Usage (broadband)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-purple">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                    <em class="fa fa-globe fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h5 mt0">$171.31 (Below)</div>
                    <div class="h6 text-uppercase">Min. Call Commitment</div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-lg-3 col-md-6 col-sm-12">
            <!-- START date widget-->
            <div class="panel widget">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-lg">
                        <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                        <div data-now="" data-format="MMMM" class="text-sm"></div>
                        <br />
                        <div data-now="" data-format="D" class="h2 mt0"></div>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div data-now="" data-format="dddd" class="text-uppercase"></div>
                        <br />
                        <div data-now="" data-format="h:mm" class="h2 mt0"></div>
                        <div data-now="" data-format="a" class="text-muted text-sm"></div>
                    </div>
                </div>
            </div>
            <!-- END date widget    -->
        </div>*@
</div>
<!-- END widgets box-->
<div class="row">
    <!-- START dashboard main content-->
    <div class="col-lg-8">
        <!-- START chart-->
        <div class="row">
            <div class="col-lg-12">
                <div id="lineChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
        <!-- END chart-->
    </div>
    <!-- END dashboard main content-->
    <!-- START dashboard sidebar-->
    <div class="col-lg-4">
        <!-- START loader widget-->
        <div class="panel panel-default">
            <div id="pie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <!-- END loader widget-->
        <!-- START messages and activity-->
        <!-- END messages and activity-->
    </div>
    <!-- END dashboard sidebar-->
</div>

<div class="row">

    <div class="row">
        <br />
        <div class="heading" style="margin: 14px">
            Hourly Charges and Calls
        </div>
        <div class="col-lg-12">
            <div class="panel widget">
                <div class="row row-table">
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">0000 - 0200</div>
                        <div class="h4 m0 text-bold" title="Total Bill">5,920</div>
                        <div class="h4 m0 text-bold" title="Total Calls">780</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">0200 - 0400</div>
                        <div class="h4 m0 text-bold" title="Total Bill">14,889</div>
                        <div class="h4 m0 text-bold" title="Total Calls">1410</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">0400 - 0600</div>
                        <div class="h4 m0 text-bold" title="Total Bill">181,259</div>
                        <div class="h4 m0 text-bold" title="Total Calls">7596</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">0600 - 0800</div>
                        <div class="h4 m0 text-bold" title="Total Bill">74,587</div>
                        <div class="h4 m0 text-bold" title="Total Calls">4530</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">0800 -1000</div>
                        <div class="h4 m0 text-bold" title="Total Bill">30,245</div>
                        <div class="h4 m0 text-bold" title="Total Calls">2380</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">1000 - 1200</div>
                        <div class="h4 m0 text-bold" title="Total Bill">19,245</div>
                        <div class="h4 m0 text-bold" title="Total Calls">1978</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">1200 - 1400</div>
                        <div class="h4 m0 text-bold" title="Total Bill">5,920</div>
                        <div class="h4 m0 text-bold" title="Total Calls">780</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">1400 - 1600</div>
                        <div class="h4 m0 text-bold" title="Total Bill">14,889</div>
                        <div class="h4 m0 text-bold" title="Total Calls">1410</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">1600 - 1800</div>
                        <div class="h4 m0 text-bold" title="Total Bill">181,259</div>
                        <div class="h4 m0 text-bold" title="Total Calls">7596</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">1800 - 2000</div>
                        <div class="h4 m0 text-bold" title="Total Bill">74,587</div>
                        <div class="h4 m0 text-bold" title="Total Calls">4530</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">2000 -2200</div>
                        <div class="h4 m0 text-bold" title="Total Bill">30,245</div>
                        <div class="h4 m0 text-bold" title="Total Calls">2380</div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 pv br">
                        <div class="h6 text-info">2200 - 2400</div>
                        <div class="h4 m0 text-bold" title="Total Bill">19,245</div>
                        <div class="h4 m0 text-bold" title="Total Calls">1978</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="panel panel-default col-lg-6">
        <div class="panel-heading">
            <div class="panel-title">Summary - Mobile</div>
        </div>
        <!-- START list group-->
        <div class="list-group">
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-purple"></em>
                            <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$93.34</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-purple m0">Calls Forwarded from this Service</a>
                        </div>
                        <p class="m0">
                            <small>
                                <a href="#">Total Calls - 80</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-info"></em>
                            <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$0.5</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-info m0">Directory Assistance Calls</a>
                        </div>
                        <p class="m0">
                            <small>
                                <a href="#">Total Calls - 01</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-danger"></em>
                            <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$0.95</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-danger m0">International Direct Calls</a>
                        </div>
                        <p class="m0">
                            <a href="#">Total Calls - 01</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-success"></em>
                            <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$0.41</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-success m0">International Direct/SMS</a>
                        </div>
                        <p class="m0">
                            <a href="#">Total SMS - 01</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-warning"></em>
                            <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$741.92</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-warning m0">National Direct Dialled Calls</a>
                        </div>
                        <p class="m0">
                            <a href="#">Total Calls - 536</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
        </div>
        <!-- END list group-->
        <!-- START panel footer-->
        <div class="panel-footer clearfix">
            <a href="#" class="pull-left">
                <small>Load more</small>
            </a>
        </div>
        <!-- END panel-footer-->
    </div>

    <div class="panel panel-default col-lg-6">
        <div class="panel-heading">
            <div class="panel-title">Summary - Fixed</div>
        </div>
        <!-- START list group-->
        <div class="list-group">
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-purple"></em>
                            <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$1278.26</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-purple m0">Calls Direct to Mobiles</a>
                        </div>
                        <p class="m0">
                            <small>
                                <a href="#">Total Calls - 280</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-info"></em>
                            <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$521.02</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-info m0">Calls to 13 Numbers</a>
                        </div>
                        <p class="m0">
                            <small>
                                <a href="#">Total Calls - 176</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-danger"></em>
                            <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$172.52</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-danger m0">Local (NDD1)</a>
                        </div>
                        <p class="m0">
                            <a href="#">Total Calls - 72</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-success"></em>
                            <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$172.97</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-success m0">NDD over 25Km</a>
                        </div>
                        <p class="m0">
                            <a href="#">Total Calls - 76</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                        <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-warning"></em>
                            <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                        </span>
                    </div>
                    <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">$26.24</small>
                        <div class="media-box-heading">
                            <a href="#" class="text-warning m0">Operator Assist Calls</a>
                        </div>
                        <p class="m0">
                            <a href="#">Total Calls - 16</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
        </div>
        <!-- END list group-->
        <!-- START panel footer-->
        <div class="panel-footer clearfix">
            <a href="#" class="pull-left">
                <small>Load more</small>
            </a>
        </div>
        <!-- END panel-footer-->
    </div>

</div>

<script>

    $('#telstra').click(function () {
        $('#clientButton').attr("disabled", false);
        $('#client3').hide();
        $('#client5').hide();
        $('#client0').show();
        $('#client1').show();
        $('#client2').show();
        $('#client4').show();
    });

    $('#optus').click(function () {
        $('#clientButton').attr("disabled", false);
        $('#client1').show();
        $('#client2').show();
        $('#client3').show();
        $('#client0').hide();
        $('#client4').hide();
        $('#client5').hide();
    });

    $('#mac').click(function () {
        $('#clientButton').attr("disabled", false);
        $('#client0').hide();
        $('#client3').hide();
        $('#client2').hide();
        $('#client1').show();
        $('#client4').show();
        $('#client5').show();
    });

    $('#telstra').click(function () {
        $('#clientButton').attr("disabled", false);
        $('#client4').show();
        $('#client1').show();
        $('#client2').show();
        $('#client3').hide();
        $('#client5').hide();
        $('#client0').hide();
    });

    $('.client').click(function () {
        debugger;
        $('#dateFilter').attr("disabled", false);
    });


</script>




@section Styles {
    @Styles.Render("~/bundles/weatherIcons")
}
@section Scripts {
    @Scripts.Render("~/bundles/sparklines")
    @Scripts.Render("~/bundles/flot")
    @Scripts.Render("~/bundles/classyloader")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/demoFlot")
}

<script src="~/Scripts/js/DashboardChart.js"></script>