@model  TMD.Models.IdentityModels.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Add/Update Role";
}

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("_Alert")
            @Html.AntiForgeryToken()

            <div>

                <fieldset>
                    <legend>Change Password</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Old Password</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-rounded", @placeholder = "Old Password" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">New Password</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-rounded", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirm New Password</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-rounded", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </fieldset>

            </div>

            <button type="reset" class="btn btn-labeled btn-default align-right">
                <span class="btn-label">
                    <i class="fa fa-arrow-left"></i>
                </span>Back
            </button>

            <button type="submit" class="btn btn-labeled btn-default align-right">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>Save
            </button>
        }
    </div>
</div>
