@model Angle.ViewModels.Client.ClientViewModel

@{
    ViewBag.Title = "Add/Update Client";
}

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("AddEdit", "Client", FormMethod.Post, new { @id = "clientForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m=>m.Client.ClientId)
            <div>
                <fieldset>
                    <legend>Client Information</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Client Name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Client.ClientName, new { id = "clientName", @class = "form-control form-control-rounded" })
                            @Html.ValidationMessageFor(m => m.Client.ClientName, "", new { @class = "required" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Account Number</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Client.AccountNumber, new { id = "accountNumber", @class = "form-control form-control-rounded" })
                            @Html.ValidationMessageFor(m => m.Client.AccountNumber, "", new { @class = "required" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service Provider</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(x => x.Client.DistributorId, new SelectList(Model.Distributors, "DistributorId", "DistributorName"), new { @class = "form-control form-control-rounded myDropdown", id = "distributorId" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Client.Username, new { id = "userName", @class = "form-control form-control-rounded" })
                            @Html.ValidationMessageFor(m => m.Client.AccountNumber, "", new { @class = "required" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.Client.Password, new { id = "password", @class = "form-control form-control-rounded" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Crawl Date</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Client.CrawlDate, new { id = "crawlDate", @class = "form-control form-control-rounded" })
                            @Html.ValidationMessageFor(m => m.Client.CrawlDate, "", new { @class = "required" })
                        </div>
                    </div>
                </fieldset>

            </div>

            <button type="button" class="btn btn-labeled btn-default align-right" onclick="window.location.href = '/Client/Index'">
                <span class="btn-label">
                    <i class="fa fa-arrow-left"></i>
                </span>Back
            </button>

            <button type="submit" class="btn btn-labeled btn-default align-right">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>Save
            </button>
        }
    </div>
</div>


<script>
</script>

