@model TMD.Web.ViewModels.Product.ProductModelViewModel
@{
    int productId = Model.ProductModel.ProductId > 0 ? Model.ProductModel.ProductId : 0;
    int productModelId = Model.ProductModel.ProductModelId > 0 ? Model.ProductModel.ProductModelId : 0;
    string createUpdate = Model.ProductModel.ProductModelId > 0 ? "Update" : "Add New";
    ViewBag.Title = createUpdate + " Product Model";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("ModelSpecs", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x=>x.ProductModel.ProductModelId)
    @Html.HiddenFor(x=>x.ProductModel.ProductId)
    @Html.AntiForgeryToken()
    <div class="portlet light bg-inverse">
        <ul class="nav nav-pills nav-justified steps">
            <li>
                <a href='@Url.Action("Create", "Product",new {id=productId})' class="step">
                    <span class="number">
                        1 -
                    </span>
                    <span class="desc">
                        <i class='fa fa-check'></i> Product basic detail
                    </span>
                </a>
            </li>
            <li class="active">
                <a href='@Url.Action("ModelSpecs", "Product",new {product=productId,model=productModelId})' class="step">
                    <span class="number">
                        2 -
                    </span>
                    <span class="desc">
                        <i class='@(productModelId > 0 ? "fa fa-check" : "")'></i> Product model and Technical specs.
                    </span>
                </a>
            </li>
        </ul>
        @*<div class="portlet-title">
            <div class="caption">
                <i class="icon-handbag font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Product Model</span>
            </div>
        </div>*@

        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="portlet box red-sunglo"  id="pulsate-crazy-target">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>All Models (@Model.ProductModels.Count)
                            </div>
                            <div class="tools">
                                Click to expand
                                <a href="javascript:;" class="expand"></a>
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll" style="display: none;">
                            <table class="table table-bordered table-striped table-condensed flip-content" id="modelsTable">
                                <thead class="flip-content">
                                <tr>
                                    <th width="20%">
                                        Model Name
                                    </th>
                                    <th width="80%">
                                        Description
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="modelsTableBody">
                                @foreach (var promodel in Model.ProductModels)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(promodel.ModelName, "ModelSpecs", new {product=productId,model= promodel.ProductModelId})
                                        </td>
                                        <td>
                                            @promodel.ModelDescription
                                        </td>
                                    </tr>
                                }
                                
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <h3 class="form-section">Product Model <span style="font-size: small;"> @ViewBag.Title and Technical Specs.</span></h3>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductModel.ModelName, new {@class = "control-label col-md-4 requiredLabel"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ProductModel.ModelName, new {@class = "form-control", placeholder = "Enter product model name"})
                                @Html.ValidationMessageFor(model => model.ProductModel.ModelName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor((m => m.ProductModel.Price), new {@class = "col-md-4 control-label requiredLabel"})
                            <div class="col-md-8">
                                @Html.TextBoxFor((m => m.ProductModel.Price), new {@class = "form-control mandatory", placeholder = "Price"})
                                @Html.ValidationMessageFor((x => x.ProductModel.Price))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductModel.ModelDescription, new { @class = "control-label col-md-4 requiredLabel" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.ProductModel.ModelDescription, new { @class = "form-control", placeholder = "Enter product model description" })
                                @Html.ValidationMessageFor((x => x.ProductModel.ModelDescription))
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Technical Specs.</h3>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Technical Spec.</label>
                            <div class="col-md-8">
                                @Html.DropDownList("Specs", new SelectList(Model.TechnicalSpecs, "TechnicalSpecId", "SpecName"), "Select Technical Specification", new {@class = "form-control select2me mandatoryModal", id = "TechSpecId"})
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.TextBox("Specs", null, new {@class = "form-control mandatoryModal", id = "TechSpecValue", placeholder = "Enter Technical Spec. value"})
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn green-meadow prominent" id="TechnicalSpecAddBtn" title="Add Technical Spec.">
                                    <i class="fa fa-plus-square-o"></i>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row hideOthersDetail">
                    <div class="portlet box">
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content" id="ProductTechnicalSpecTable">
                                <thead class="flip-content">
                                <tr>
                                    <th style="display: none"></th>
                                    <th width="40%">
                                        Name
                                    </th>
                                    <th width="40%">
                                        Value
                                    </th>
                                    <th width="20%">
                                        <span class="mustDisplay">Remove</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="techspecBody">
                                @if (Model.ProductTechnicalSpec != null)
                                {
                                    for (int i = 0; i < Model.ProductTechnicalSpec.Count; i++)
                                    {
                                        <tr data-id="@i">
                                            <td style="display: none">
                                                <input name='ProductTechnicalSpec.Index' type='hidden' value='@i'/>
                                                <input name='ProductTechnicalSpec[@i].ProductTechSpecsId' type='hidden' value='@Model.ProductTechnicalSpec[i].ProductTechSpecsId'/>
                                                <input name='ProductTechnicalSpec[@i].ProductModelId' type='hidden' value='@Model.ProductTechnicalSpec[i].ProductModelId'/>
                                                <input name='ProductTechnicalSpec[@i].TechSpecId' type='hidden' value='@Model.ProductTechnicalSpec[i].TechSpecId'/>
                                            </td>
                                            <td width="40%">
                                                <input name='ProductTechnicalSpec[@i].TechSpecName' tabindex="-1" type='text' class="ProductTableColumn" readonly="readonly" value='@Model.ProductTechnicalSpec[i].TechSpecName'/>
                                            </td>
                                            <td width="40%">
                                                <input name='ProductTechnicalSpec[@i].SpecValue' type='text' value='@Model.ProductTechnicalSpec[i].SpecValue'/>
                                            </td>
                                            <td width="20%">
                                                <a href="javascript:;" class="btn default btn-xs red remove" tabindex="-1" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <!--/row-->
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">
                            <input type="submit" class="btn green-seagreen hideOthersDetail" value="Submit"/>
                            <button type="reset" class="btn green-jungle hideOthersDetail">Reset</button>
                            <a href="~/Product/Create/@productId" class="btn default cancelBtn">Cancel</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $('#pulsate-crazy-target').pulsate({
            color: "#e26a6a",
            reach: 50,
            repeat: 5,
            speed: 400,
            glow: true
        });

        $('.remove').live("click", function () {

            if (!confirm("Are you sure to delete this specification?")) {
                return;
            }
            $(this).parent().parent().remove();
        });
        });
    

    $('#TechnicalSpecAddBtn').on("click", function () {
        var index = $("#techspecBody").children("tr").length;
        var productId = '@productModelId';
        var theId = $("#TechSpecId").select2('data').id;
        var theSelection = $("#TechSpecId").select2('data').text;
        var theValue = $("#TechSpecValue").val();

        //validate fields
        if (theId === "" || theValue === "") {
            toastr.warning("Must enter specification value");
            return false;
        }

        if ($("#techspecBody").children("tr").children("td").html() == "No data available in table") {
            index = index - 1;
            $("#techspecBody").children("tr").remove();
        }
        var indexCell = "<td style='display:none'>" +
            "<input name='ProductTechnicalSpec.Index' type='hidden' value='" + index + "' />" +
            "<input name='ProductTechnicalSpec[" + index + "].ProductModelId'  type='hidden'  value='" + productId + "'/>" +
            "<input name='ProductTechnicalSpec[" + index + "].TechSpecId' type='hidden'  value='" + theId + "'/>" +
            "</td>";

        //ProductTechnicalSpec
        var html = ' <tr data-id=' + index + '>' +
            indexCell +
            '<td>' +
            '<input name="ProductTechnicalSpec[' + index + '].TechSpecName" tabindex="-1" value="' + theSelection + '" type="text" class = "ProductTableColumn" readOnly = "readOnly"/>' +
            '</td>' +
            '<td>' +
            '<input name="ProductTechnicalSpec[' + index + '].SpecValue" type="text" value="' + theValue + '"/>' +
            '</td>' +
            '<td>' +
            '<a href="javascript:;" class="btn default btn-xs red remove" tabindex="-1" title="Delete"><i class="fa fa-trash-o"></i></a>' +
            '</td>' +
            '</tr>';
        $('#techspecBody').append(html);
    });
</script>