@using System.Web.UI.WebControls
@model  TMD.Web.ViewModels.Inquiry.InquiryViewModel
@{
    string createUpdate = Model.InquiryModel.InquiryID > 0 ? "Update" : "Add New";
    ViewBag.Title = createUpdate + " Inquiry";
    Session["MenuKey"] = 4;

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    //string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
    //string display = "";
    //bool readonly1 = true;


}


@using (Html.BeginForm("Create", "Inquiry", FormMethod.Post, new { @class = "form-horizontal", role = "form", @onsubmit = "return ValidateFields(this)" }))
{
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@
    @Html.HiddenFor(x => x.InquiryModel.InquiryID)
    @Html.HiddenFor(x => x.InquiryModel.CreatedDate)
    @Html.HiddenFor(x => x.InquiryModel.CreatedBy)
    @Html.HiddenFor(x => x.InquiryModel.UserId)
    
    
   @functions {

    public SelectList GetAllPriorities()
     {
        SelectList Priorities = new SelectList(new[]
             {
                new { Id = "1", Name = "Low" },
                new { Id = "2", Name = "Medium" },
                new { Id = "3", Name = "High" },
    
             }, "Id", "Name",Model.InquiryModel.Priority);

        return Priorities;
     }
   }
    
    
   
   
    <div class="portlet portletCustomHeight light bg-inverse" style="display: none;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Inquiry</span>
               
            </div>
        </div>

        <div class="portlet-body form">
            <div class="form-body">

                <div class="row">

                    <!--Company Name is Inquiry Title-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.CompanyName, new {@class = "control-label col-md-3 requiredLabel"})
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.InquiryModel.CompanyName, new {@class = "form-control mandatory", placeholder = "Inquiry Title"})


                                @Html.ValidationMessageFor(model => model.InquiryModel.CompanyName)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.InquiryDate, new { @class = "control-label col-md-3 requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.InquiryModel.InquiryDate, "{0:d}", new { @class = "datepicker form-control  mandatory cursorHand", placeholder = "Inquiry Date", @readonly = "readonly" })


                                @Html.ValidationMessageFor(model => model.InquiryModel.InquiryDate)
                            </div>
                        </div>
                    </div>


                    <!--/span-->
                </div>



                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.ContactID, new {@class = "control-label col-md-3 requiredLabel"})
                            <div class="col-md-7">
                                @Html.DropDownListFor(x => x.InquiryModel.ContactID, new SelectList(Model.Contacts, "ContactID", "FirstName", Model.InquiryModel.ContactID), "--Please Select--", new {@class = "form-control select2me"})
                                @Html.ValidationMessageFor(model => model.InquiryModel.ContactID)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.InquiryProductId, new {@class = "control-label col-md-3 requiredLabel"})
                            <div class="col-md-7">
                                @Html.DropDownListFor(x => x.InquiryModel.InquiryProductId, new SelectList(Model.Products, "ProductID", "ProductName", Model.InquiryModel.InquiryProductId), "--Please Select--", new {@class = "form-control select2me"})
                                @Html.ValidationMessageFor(model => model.InquiryModel.InquiryProductId)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>


                <div class="row">



                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.Priority, new {@class = "control-label col-md-3 requiredLabel"})
                            <div class="col-md-7">
                                @Html.DropDownListFor(x => x.InquiryModel.Priority, GetAllPriorities(), "--Please Select--", new {@class = "form-control select2me"})
                                @Html.ValidationMessageFor(model => model.InquiryModel.Priority)
                            </div>
                        </div>
                    </div>





                    <!--/span-->
                </div>


                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.ContactResponse, new { @class = "control-label col-md-3 requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.InquiryModel.ContactResponse, new { @class = "form-control mandatory", placeholder = "Contact Response" })


                                @Html.ValidationMessageFor(model => model.InquiryModel.ContactResponse)
                            </div>
                        </div>
                    </div>


                    <!--/span-->
                </div>

              

                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InquiryModel.UserComments, new {@class = "control-label col-md-3 requiredLabel"})
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.InquiryModel.UserComments, new {@class = "form-control mandatory", placeholder = "User Comments"})


                                @Html.ValidationMessageFor(model => model.InquiryModel.UserComments)
                            </div>
                        </div>
                    </div>


                    <!--/span-->
                </div>


            </div>
        </div>
               

           
        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn green-seagreen hideOthersDetail" value="Submit" />
                            <button type="reset" class="btn green-jungle hideOthersDetail">Reset</button>
                            <a href="~/Inquiry/Index" class="btn default cancelBtn">Cancel</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

}


<script>
    $(document).ready(function () {
        
        $('.portletCustomHeight').show();


    });

</script>
<!-- Matter ends -->
