@using iTextSharp.text.pdf.qrcode
@model TMD.Web.Models.TicketTypeModel
@{
    ViewBag.Title = "Create Ticket Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 7;
}

@using (Html.BeginForm("Create", "TicketType", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "createForm" }))
{
    @Html.HiddenFor(x=>x.TicketTypeId)
    @Html.HiddenFor(x=>x.RecCreatedBy)
    @Html.HiddenFor(x=>x.RecCreatedOn)
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@
    <div class="portlet portletCustomHeight light bg-inverse">
        <div class="portlet-title">
            <div class="tools">
            </div>
            <div class="caption">
                <i class="icon-credit-card font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Ticket Type</span>
                @if (Model.TicketTypeId == 0)
                {
                    <span class="caption-helper">Create</span>
                }
                else
                {
                    <span class="caption-helper">Update</span>
                }
                

            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Type Title</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.TicketTitle, new { @class = "form-control mandatory", placeholder = "Ticket Title" })
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.TicketDescription, new { @class = "form-control", placeholder = "Description", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Active</label>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control mandatory"})
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Is Leave</label>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(x => x.IsLeave, new { @class = "form-control mandatory" })
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" id="leaveDiv" style="display: none">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Leave Type</label>
                            <div class="col-md-9">
                                @Html.EnumDropDownListFor(x => x.LeaveTypes,"-- Select a Leave Type --", new { @class = "form-control", id = "LeaveType" })
                                @*@Html.ValidationMessageFor(x=>x.LeaveTypes)*@
                                @*<select name="LeaveType" id="LeaveType" class="form-control" >
                                    <option value="">-- Select a Leave Type -- </option>
                                    <option value="0">Casual</option>
                                    <option value="1">Medical</option>
                                    <option value="2">Half Day</option>
                                </select>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <button type="submit" class="btn green-seagreen" onclick="return(ValidateFields(event) && validateUserPassword(event));">Save</button>
                                    @if (Model.TicketTypeId == 0)
                                    {
                                        <button type="button" class="btn blue-steel" onclick="clearInputFields('#createForm')">Clear</button>
                                    }
                                    <a href="@Url.Action("Index","TicketType")" class="btn red-sunglo">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function clearFields() {
        $('#ticketForm').trigger("reset");
    }

    $(document).ready(function () {
        if ($('#IsLeave').is(":checked")) {
            $("#leaveDiv").fadeIn();
            $("#LeaveType").addClass("mandatory");
        }

        $('#IsLeave').on('change', function () {
            debugger;
            if ($(this).is(":checked")) {
                $("#leaveDiv").fadeIn();
                $("#LeaveType").addClass("mandatory");
            } else {
                $("#leaveDiv").fadeOut();
                $("#LeaveType").removeClass("mandatory");
            }
        });
    });
</script>
