@model TMD.Web.ViewModels.Ticket.TicketViewModel
@{
    ViewBag.Title = "Generate Ticket";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 6;
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];

}

@using (Html.BeginForm("Create", "Ticket", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "createForm" }))
{
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@
    @Html.HiddenFor(x=>x.Ticket.TicketId)
    @Html.HiddenFor(x=>x.Ticket.RecCreatedBy)
    @Html.HiddenFor(x=>x.Ticket.RecCreatedOn)
        <div class="portlet portletCustomHeight light bg-inverse">
        <div class="portlet-title">
            <div class="tools">
            </div>
            <div class="caption">
                <i class="icon-credit-card font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Ticket</span>
                <span class="caption-helper">Generate</span>

            </div>
        </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group ">
                                <label class="col-md-3 control-label requiredLabel">Ticket Type</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(x => x.Ticket.TicketTypeId, new SelectList(Model.TicketTypes, "TicketTypeId", "TicketTitle", Model.Ticket.TicketTypeId), "Select Ticket Type", new { @class = "form-control mandatory", placeholder = "Ticket Type" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    @if (userPermissionsSet.Contains("GenerateEmployeeTicket"))
                    {
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <label class="col-md-3 control-label requiredLabel">Employee</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(x => x.Ticket.EmployeeId, new SelectList(Model.EmployeeDdl, "EmployeeId", "FullName", Model.Ticket.EmployeeId), "Select Employee", new { @class = "form-control mandatory", placeholder = "Employee" })
                                    </div>
                                </div>
                            </div>
                        </div>

    <div class="row" id="WorkingDaysDiv">
        <div class="col-md-6 ">
            <div class="form-group ">
                <label class="col-md-3 control-label requiredLabel">Working Days</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Ticket.WorkingDays, new { @class = "form-control mandatory DecimalValue", placeholder = "Working Days", id = "WorkingDays" })
                </div>
            </div>
        </div>
    </div>
                    }

                    <div class="row" id="datesDiv">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Date(s)</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Ticket.DateFrom, new { @class = "form-control datepicker cursorHand", placeholder = "From Date", @readonly = true })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.Ticket.DateTo, new { @class = "form-control datepicker cursorHand", placeholder = "To Date", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label requiredLabel">Reason</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(x => x.Ticket.Reason, new { @class = "form-control mandatory", placeholder = "Reason", rows = 5, @style = "resize:none" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-6">
                                        <button type="submit" class="btn green-seagreen" onclick="return (ValidateFields(event) && ValidateWorkingDays() && ValidateDateRange());">Save</button>
                                        <button type="button" class="btn blue-steel" onclick="clearInputFields('#createForm')">Clear</button>
                                        <a href="@Url.Action("Index","Ticket")" class="btn red-sunglo">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>  </div>
}

<script>
    $(document).ready(function() {
        $('#Ticket_DateFrom').val("");
        $('#Ticket_DateTo').val("");


        $("#Ticket_TicketTypeId").on('change', function () {
            if ($("#Ticket_TicketTypeId option[value=" + $(this).val() + "]").text().indexOf("Leave") > 0) {
                $("#datesDiv").fadeIn();
                $("#WorkingDaysDiv").fadeIn();
                $('#Ticket_DateFrom').addClass("mandatory");
                $('#Ticket_DateTo').addClass("mandatory");
            } else {
                $("#datesDiv").fadeOut();
                $("#WorkingDaysDiv").fadeOut();
                $("#WorkingDays").val("");
                $('#Ticket_DateFrom').val("");
                $('#Ticket_DateTo').val("");
                $('#Ticket_DateFrom').removeClass("mandatory");
                $('#Ticket_DateTo').removeClass("mandatory");
                $("#WorkingDays").removeClass("mandatory");
            }
        });
    });

    function clearFields() {
        $('#ticketForm').trigger("reset");
        $('#Ticket_DateFrom').val("");
        $('#Ticket_DateTo').val("");
    }

    function ValidateDateRange() {
        var from = new Date($('#Ticket_DateFrom').val());
        var to = new Date($('#Ticket_DateTo').val());
        if ( from > to) {
            toastr.error("Enter Valid date Range.", "Invalid Range");
            return false;
        }
            
        return true;
    }

    function ValidateWorkingDays() {
        if (parseFloat($("#WorkingDays").val()) < 1) {
            if (parseFloat($("#WorkingDays").val()) != 0.5) {
                toastr.error("Working days should be either 0.5 (Half Day Leave)<br/> or greater than zero.", "Attention !");
                $("#WorkingDays").css("border", "solid 1px red");
                $("#WorkingDays").focus();
                return false;
            }
            else {
                return true;
            }
            
        } else {
            $("#WorkingDays").css("border", "none");
            return true;
        }
        
    }
</script>