@using TMD.Common
@model List<TMD.Web.Models.NotificationModel>
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 4;
    Session["SubMenuKey"] = 2;
}

<div class="portlet portletCustomHeight light bg-inverse">
    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="portlet box red-sunglo">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bulb"></i>Notification(s)
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table id="dataTable" class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                            <tr>
                                <th class="">Date</th>
                                <th class="">Title</th>
                                <th class="">Description</th>
                                <th>Read</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CreatedDate</td>
                                <td><a href=@Url.Action("Create", ((NotificationType)item.CategoryId).ToString(), new { id = item.ItemId })>@item.Title</a></td>
                                <td>@(item.CreatedBy +" "+ ((ActionPerformed) item.ActionPerformed).ToString().ToLower() +" "+ ((NotificationType)item.CategoryId).ToString() +" on " + item.CreatedDate.ToString()
                                          )
                                </td>
                                <td class="isRead">@item.isRead</td>
                                <td>
                                    @if (item.isRead == "No")
                                    {
                                        <a href="javascript:;" class="btn  btn-xs blue NotificationItem" title="Mark as Read" id="@item.RecipientId">
                                            <i class="icon-bell"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var siteURL = $('#siteURL').val();

        $('#dataTable').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 15,
            "bFilter": true,
            "bLengthChange": false,
            "order": [[0, "desc"]],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [4] }
            ]
        });
    });

    $(".NotificationItem").on("click", function () {
        var currentRow = $(this).parent().parent();
        var currentColumn = $(this).parent();
        var recipientId = $(this).attr('id');
        // mark notification as read
        $.ajax({
            type: "POST",
            data: "{ id:" + recipientId + "}",
            url: siteURL + "Notification/Read",
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (res) {
                toastr.success("You have read the notification.");
                currentRow.children('td.isRead').text("Yes");
                currentColumn.html("");
                var count = parseInt($("#notificationCount").text());
                if (count > 0) {
                    $("#notificationCount").text(count - 1);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //toastr.error(thrownError);
            }
        });
    });
</script>