@using System.Web.UI.WebControls
@model  TMD.Web.ViewModels.Quote.QuotePrintViewModel
@{
    ViewBag.Title = "Print Quote";
    Session["MenuKey"] = 4;

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .page-content-wrapper .page-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
    @@page 
        {
            size: auto;   /* auto is the current printer page size */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }

        body 
        {
            background-color:#FFFFFF; 
            border: solid 1px black ;
            margin: 0px;  /* the margin on the content before printing */
       }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="row invoice-logo">
    <div class="col-xs-8 invoice-logo-space">
        <img src="~/Images/Web/mainlogo.jpg" class="img-responsive" alt="ZAMTAS" />
    </div>
    <div class="col-xs-4 textAlignRight">
        <label>194-H, N Block Model Town Lahore Pakistan</label><br />
        <label>+92 42 3517 1145-6</label><br />
        <label>info@zamtas.com.pk</label>
    </div>
</div>
<hr />
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="invoice">
<div class="row invoice-logo">
    <div class="col-xs-6">
        <label><b>To,</b></label><br />
        <label><b>@Model.Contact.FullName</b></label><br/>
        <label>@Model.Contact.CompanyName</label><br/>
        <label>@Model.Contact.Address</label><br/>
        Cell#:<label>@Model.Contact.CellNo</label>; Email:<label>@Model.Contact.Email</label>
    </div>
    <div class="col-xs-6 textAlignRight">
        <label>Ref #: @Model.Quote.QuoteReferenceNo</label><br/>
        <label>Date: @Model.Quote.CreatedDate.ToShortDateString()</label><br/>
        <label>Validity: @Model.Quote.ValidityTerms</label>
    </div>
</div>
<hr/>
    <div class="row">
        <div class="col-xs-12 textAlignCenter"><h4>Subject: <b>@Model.Quote.Subject</b></h4>
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        <p>
            <b>Dear Sir,</b><br/>
            Thanks for your valued inquiry regarding Automatic Sliding Door System; we are pleased to quote as under:
        </p>
    </div>
</div>
<h4><i><b>Item(s)</b></i></h4>
<div class="row">
   
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Item
                </th>
                <th class="hidden-480">
                    Model
                </th>
                <th class="hidden-480">
                    Make
                </th>
                <th class="hidden-480">
                    Quantity
                </th>
                <th class="hidden-480">
                    Unit Cost
                </th>
                <th>
                    Total
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    @Model.Product.ProductName
                </td>
                <td class="hidden-480">
                    @Model.ProductModel.ModelName
                </td>
                <td class="hidden-480">
                    @Model.Quote.QuoteDetail.Make
                </td>
                <td class="hidden-480">
                    @Model.Quote.QuoteDetail.Quantity
                </td>
                <td class="hidden-480">
                    @Model.Quote.QuoteDetail.Price
                </td>
                <td>
                    @(Model.Quote.QuoteDetail.Quantity * Model.Quote.QuoteDetail.Price)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h4><i><b>Technical Specifications</b></i></h4>
<div class="row">
   
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Specification
                </th>
                <th>
                    Value
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var techspec in @Model.ProductModelTechnicalSpec)
            {
                <tr>
                    <td>
                        @techspec.TechSpecName
                    </td>
                    <td>
                        @techspec.SpecValue
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    @*<div class="col-xs-4 invoice-block">
            <ul class="list-unstyled amounts textAlignRight">
                <li>
                    <strong>Sub-Total:</strong> $9265
                </li>
                <li>
                    <strong>Discount:</strong> 12.9%
                </li>
                <li>
                    <strong>Grand Total:</strong> $12489
                </li>
            </ul>
        </div>*@
</div>
<h4><i><b>Terms & Conditions</b></i></h4>
    <div class="row">
        <div class="col-xs-4">
            <b>Payment:</b>
            <ul class="list-unstyled">
                @foreach (var payment in @Model.Quote.PaymentTerms.Split('\n'))
                {
                    <li>
                        @payment
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-4">
            <b>Delivery:</b>
            <ul class="list-unstyled">
                @foreach (var payment in @Model.Quote.DeliveryTerms.Split('\n'))
                {
                    <li>
                        @payment
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-4">
            <b>Installation:</b>
            <ul class="list-unstyled">
                @foreach (var payment in @Model.Quote.InstallationTerms.Split('\n'))
                {
                    <li>
                        @payment
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <b>Warranty:</b>
            <ul class="list-unstyled">
                @foreach (var payment in @Model.Quote.WarrantyTerms.Split('\n'))
                {
                    <li>
                        @payment
                    </li>
                }
            </ul>
        </div>
        <div class="col-xs-4">
            <b>Free Service:</b>
            <ul class="list-unstyled">
               @foreach (var payment in @Model.Quote.FreeServiceTerms.Split('\n'))
               {
                <li>
                    @payment
                </li>
               }
            </ul>
        </div>
    </div>



<div class="row">
    <div class="col-xs-12">
        @if (Model.Quote.QuoteExclusions.Any())
        {
            <h4><i><b>Exclusions</b></i></h4>
            <ul class="list-unstyled">
                @foreach (var exclusion in @Model.Quote.QuoteExclusions)
                {
                    <li>
                        @exclusion.ExclusionName
                    </li>
                }
            </ul>
        }
        
    </div>
</div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <b>Looking forward to your valued order and assuring you of our best services.</b><br/>
                <b>Regards,</b><br />
                <b>ZAMTAS INTERNTIONAL</b>
            </p>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-8"></div>
    <div class="col-xs-4">
        <a class="btn btn-lg blue hidden-print" onclick=" javascript:window.print(); ">
            Print <i class="fa fa-print"></i>
        </a>
        <a href="~/Quote/Index" class="btn btn-lg default  hidden-print">Cancel</a>
    </div>
</div>

<!-- END PAGE CONTENT-->
