@model TMD.Web.ViewModels.Case.CaseListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet-title">
                    <div class="tools">
                        <a href="~/Case/AddEdit/?orderId=@Model.OrderId" class="btn red titleButton">Add Case Information</a>
                        <a href="~/Order/Index" class="btn blue titleButtor" style="float:right">Back</a>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-actions">
                            <div>
                                <table class="responsive">
                                    <tr>
                                        <td class="col-md-1">
                                            <label class="control-label"> Last Name </label>
                                        </td>
                                        <td class="col-md-2">
                                            @Html.TextBox("LastName", @Model.Order.LastName, new { @class = "form-control toBeDisabled", @id = "LastName", @readonly = "true" })
                                        </td>
                                        <td class="col-md-1">
                                            <label class="control-label"> First Name</label>
                                        </td>
                                        <td class="col-md-2">
                                            @Html.TextBox("FirstName", @Model.Order.FirstName, new { @class = "form-control toBeDisabled", @id = "FirstName", @readonly = "true" })
                                        </td>
                                    </tr>
                                    <tr style="height: 10px"></tr>

                                    <tr>
                                        <td class="col-md-1">
                                            <label class="control-label"> Date of Birth</label>
                                        </td>
                                        <td class="col-md-2">
                                            @Html.TextBox("Date Of Birth", @Model.Order.Dob, new { @class = "form-control toBeDisabled", @id = "dob", @readonly = "true" })
                                        </td>

                                        <td class="col-md-1">
                                            <label class="control-label"> SSN</label>
                                        </td>
                                        <td class="col-md-2">
                                            @Html.TextBox("SSN", @Model.Order.SSN, new { @class = "form-control toBeDisabled", @id = "SSN", @readonly = "true" })
                                        </td>
                                    </tr>

                                    <tr style="height: 10px"></tr>
                                    <tr>
                                        <td class="col-md-1">
                                            <label class="control-label"> Country</label>
                                        </td>
                                        <td class="col-md-2">
                                            @Html.TextBox("Country", @Model.Order.CountyName, new { @class = "form-control toBeDisabled", @id = "CountyName", @readonly = "true" })
                                        </td>

                                        <td class="col-md-1">
                                            <label class="control-label"> Order Date</label>
                                        </td>
                                        <td class="col-md-2">
                                            @Html.TextBox("OrderDate", @Model.Order.OrderDate, new { @class = "form-control toBeDisabled", @id = "RecCreatedDt", @readonly = "true" })
                                        </td>
                                    </tr>

                                    <tr style="height: 10px"></tr>

                                </table>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="caseList" class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Case Number</th>
                                        <th>Filing Date</th>
                                        <th>Disposition Date </th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Social Security Number</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detail in Model.Cases)
                                    {
                                        <tr>
                                            <td>@detail.CaseId</td>
                                            <td>@detail.CaseNumber</td>
                                            <td>@detail.FilingDate</td>
                                            <td>@detail.DispositionDate</td>
                                            <td>@detail.FirstName</td>
                                            <td>@detail.MiddleName</td>
                                            <td>@detail.LastName</td>
                                            <td>@detail.SSN</td>
                                            <td>@Html.ActionLink("Detail", "AddEdit", new { id = detail.CaseId, orderId = @Model.OrderId })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script>

    jQuery(document).ready(function ($) {
        $('#caseList').dataTable({
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [
                { 'bVisible': false, 'aTargets': [0] },
                { 'bSortable': false, 'aTargets': [0, 8] }
            ],
            "order": [[1, "asc"]]
        });
    });

</script>