@model TMD.Web.ViewModels.Order.OrderListViewModel

@{
    ViewBag.Title = "Orders List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 5;
}

<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet-title">
                    <div class="tools">
                        <a href="~/Order/AddEdit" class="btn red titleButton createOrder">Create New Order</a>
                        <input type="button" class="btn blue titleButton" id="btnResetFltr" style="float:right" value="Reset">
                        <input type="button" class="btn green" id="btnFltr" style="float:right" value="Filter" />
                    </div>
                </div>

                <div class="portlet-body form">
                    <div class="form-actions">
                        <div>

                            <table class="responsive">
                                <tr>
                                    <td class="col-md-1">
                                        <label class="control-label"> Order Id</label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @Html.TextBox("OrderId", @Model.orderSearchRequest.OrderId, new { @class = "searchInputs form-control", @id = "OrderId", @placeholder = "Search OrderId" })
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <label class="control-label"> Last Name </label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @Html.TextBox("LastName", @Model.orderSearchRequest.LastName, new { @class = "searchInputs form-control", @id = "LastName", @placeholder = "Search Last Name" })
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <label class="control-label"> First Name</label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @Html.TextBox("FirstName", @Model.orderSearchRequest.FirstName, new { @class = "searchInputs form-control", @id = "FirstName", @placeholder = "Search First Name" })
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab1">
                            New Orders
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab2">
                            Pending Orders
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab3">
                            Completed Orders
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">

                        <div class="portlet box blue table-responsive">
                            <table id="dataTable" class="display table-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Date Of Birth</th>
                                        <th>SSN</th>
                                        <th>Country</th>
                                        <th></th>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <div id="tab2" class="tab-pane">

                        <div class="portlet box blue table-responsive">
                            <table id="pendingOrders" class="display table-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Date Of Birth</th>
                                        <th>SSN</th>
                                        <th>Country</th>
                                        <th></th>
                                </thead>
                            </table>
                        </div>

                    </div>

                    <div id="tab3" class="tab-pane">

                        <div class="portlet box blue table-responsive">
                            <table id="completedOrders" class="display table-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Date Of Birth</th>
                                        <th>SSN</th>
                                        <th>County</th>
                                        <th></th>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    //"fnDrawCallback": fnLoadComplete,
    jQuery(document).ready(function ($) {
        var isAdmin = '@User.IsInRole("Admin")';

        if (isAdmin == "True") {
            $('.createOrder').hide();
        }

        var siteURL = $('#siteURL').val();
        var start = ('@Model.orderSearchRequest.PageNo' - 1) * '@Model.orderSearchRequest.PageSize';
        var isAsc = '@Model.orderSearchRequest.IsAsc' == "True" || '@Model.orderSearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.orderSearchRequest.SortBy', isAsc ? 'asc' : 'desc'];

        var columns = [
            { "data": "OrderId" },
            {
                "aTargets": [1],
                "sDefaultContent": "No Data",
                "mRender": function (data, type, full) {
                    var element;
                    var val;
                    var orderId;
                    val = full["LastName"];
                    orderId = full["OrderId"];
                    element = '<a href="Order/AddEdit/' + orderId + '">' + val + '</a>';
                    return element;
                }
            },

            { "data": "FirstName" },
            { "data": "Dob" },
            { "data": "SSN" },
            { "data": "CountyName" }
        ];
        if (isAdmin == "True") {
            columns.push({
                "orderable": false,
                "data": null,
                "defaultContent": "<a class='details' title='details' style='text-decoration: none;font-weight: bold;'  href='javascript:;'>Details</a>",
                "class": "textAlignCenter"
            });
        }

        if (isAdmin == "False") {
            columns.push({
                "orderable": false,
                "data": null,
                "defaultContent": "<a class='delete' title='Delete' style='text-decoration: none;font-weight: bold;'  href='javascript:;'>X</a>",
                "class": "textAlignCenter"
            });
        }

        

        var newOrders = $('#dataTable').dataTable({
            "iDisplayLength": 11,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0, 6] }
            ],
            "columns": columns,
            "processing": true,
            "serverSide": true,

            "ajax": {
                url: siteURL + "Order/Index",
                type: "POST",
                dataType: "json",
                data: function (params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    params.IsAsc = params.order[0].dir === "asc";

                    params.OrderId = $('#OrderId').val();
                    params.LastName = $('#LastName').val();
                    params.FirstName = $('#FirstName').val();
                    params.StatusId = "1";
                },
            }
        });

        var pendingOrders = $('#pendingOrders').dataTable({
            "iDisplayLength": 11,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0, 6] }
            ],
            "columns": columns,
            "processing": true,
            "serverSide": true,

            "ajax": {
                url: siteURL + "Order/Index",
                type: "POST",
                dataType: "json",
                data: function (params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    params.IsAsc = params.order[0].dir === "asc";

                    params.OrderId = $('#OrderId').val();
                    params.LastName = $('#LastName').val();
                    params.FirstName = $('#FirstName').val();
                    params.StatusId = "2";
                    params.StatusId2 = "3";
                },
            }
        });


        var completedColumns = [
            { "data": "OrderId" },
            {
                "aTargets": [1],
                "sDefaultContent": "No Data",
                "mRender": function (data, type, full) {
                    var element;
                    var val;
                    var orderId;
                    val = full["LastName"];
                    orderId = full["OrderId"];
                    element = '<a href="Order/AddEdit/' + orderId + '">' + val + '</a>';
                    return element;
                }
            },

            { "data": "FirstName" },
            { "data": "Dob" },
            { "data": "SSN" },
            { "data": "CountryName" }
        ];

        completedColumns.push({
            "orderable": false,
            "data": null,
            "defaultContent": "<a class='details' title='details' style='text-decoration: none;font-weight: bold;'  href='javascript:;'>Details</a>",
            "class": "textAlignCenter"
        });

        var completedOrders = $('#completedOrders').dataTable({
            "iDisplayLength": 11,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] }
            ],
            "columns": completedColumns,
            "processing": true,
            "serverSide": true,

            "ajax": {
                url: siteURL + "Order/Index",
                type: "POST",
                dataType: "json",
                data: function (params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    params.IsAsc = params.order[0].dir === "asc";

                    params.OrderId = $('#OrderId').val();
                    params.LastName = $('#LastName').val();
                    params.FirstName = $('#FirstName').val();
                    params.StatusId = "4";
                },
            }
        });

        $('#btnFltr').on('click', function (e) {
            newOrders.fnDraw();
            pendingOrders.fnDraw();
            completedOrders.fnDraw();
        });

        $('#btnResetFltr').on('click', function (e) {
            $('#OrderId').val("");
            $('#LastName').val("");
            $('#FirstName').val("");
            newOrders.fnFilter('');
            pendingOrders.fnFilter('');
            completedOrders.fnFilter('');
        });

        $('#dataTable').on('click', '.details', function (e) {
            debugger;
            var nRow = $(this).parents('tr')[0];
            var aData = newOrders.fnGetData(nRow);
            var id = aData.OrderId;
            var url = siteURL + 'Case/Index';
            window.location.href = url + "/" + id;
        });

        $('#pendingOrders').on('click', '.addCaseInfo', function (e) {
            debugger;
            var nRow = $(this).parents('tr')[0];
            var aData = pendingOrders.fnGetData(nRow);
            var id = aData.OrderId;
            var url = siteURL + 'Case/AddEdit';
            window.location.href = url + "?" + "orderId=" + id;
        });

        $('#completedOrders').on('click', '.details', function (e) {
            debugger;
            var nRow = $(this).parents('tr')[0];
            var aData = completedOrders.fnGetData(nRow);
            var id = aData.OrderId;
            var url = siteURL + 'Case/Index';
            window.location.href = url + "/" + id;
        });

    });

</script>