@model TMD.Web.Models.AttendanceModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Scripts/plugins/DateTimePicker/DateTimePicker.css" rel="stylesheet" />
<link href="~/Scripts/plugins/DateTimePicker/DateTimePicker-ltie9.css" rel="stylesheet" />
<script src="~/Scripts/plugins/DateTimePicker/DateTimePicker.js"></script>
<script src="~/Scripts/plugins/DateTimePicker/DateTimePicker-ltie9.js"></script>

@using (Html.BeginForm("Edit", "Attendance", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div class="portlet portletCustomHeight light bg-inverse">
    <div class="portlet-title">
        <div class="tools">

        </div>
        <div class="caption">
            <i class="fa fa-check-square-o font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Attendance</span>
            <span class="caption-helper">Edit <i class="fa fa-pencil-square-o"></i></span>
        </div>
    </div>
    @Html.HiddenFor(x=>x.RecCreatedBy)
    @Html.HiddenFor(x=>x.RecCreatedDate)
    @Html.HiddenFor(x=>x.EditedBy)
    @Html.HiddenFor(x=>x.EditedDate)
    @Html.HiddenFor(x=>x.EmployeeId)
    @Html.HiddenFor(x=>x.AttendanceId)
    @Html.HiddenFor(x=>x.EmployeeName)
    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Date</label>
                </div>
                <div class="col-md-3 col-md-pull-1">
                    <input type="text" value="@Model.CheckInTime.ToShortDateString()" class="form-control cursorHand" readonly="readonly" />
                </div>

                <div class="col-md-2">
                    <label class="control-label">Employee</label>
                </div>
                <div class="col-md-3 col-md-pull-1">
                    <input type="text" value="@Model.EmployeeName" class="form-control cursorHand" readonly="readonly" />
                </div>
            </div>
            <br />
            
            

            <div class="row">
                <div class="portlet box red-sunglo">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>
                            <span>Attendance</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                      <div class="row">

                                          <div class="col-md-2">
                                              <label>Check-in Time</label>
                                          </div>
                                          <div class="col-md-4">
                                              @Html.TextBoxFor(x => x.CheckInTime, "{0:dd-MMM-yyyy HH:mm:ss}", new { @class = "form-control cursorHand", data_field = "datetime", @readonly = true })
                                          </div>
                                          <div class="col-md-2">
                                              <label>Check-out Time</label>
                                          </div>
                                          <div class="col-md-4">
                                              @Html.TextBoxFor(x => x.CheckOutTime, "{0:dd-MMM-yyyy HH:mm:ss}", new { @class = "form-control cursorHand", data_field = "datetime", @readonly = true })
                                          </div>
                                      </div>
                                  </div>
                        
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Away Since</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.AwayFromTime, "{0:dd-MMM-yyyy HH:mm:ss}", new { @class = "form-control cursorHand", data_field = "datetime", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Away Till</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.AwayToTime, "{0:dd-MMM-yyyy HH:mm:ss}", new { @class = "form-control cursorHand", data_field = "datetime", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="requiredLabel">Comments</label>
                                    </div>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.Comments, new {@class = "form-control mandatory", rows = 5, style = "resize: none"})
                                    </div>

                                </div>
                            </div>
                        
                            <div class="form-group">
                                <div class="col-md-8 col-md-push-8">
                                    <div class="col-md-2"><a class=" btn red" href="@Url.Action("Index")">Cancel</a></div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn green-haze" onclick=" return ValidateFields(event) "><i class=" fa fa-save"></i> Save Changes</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>

        </div>

        <!--/row-->
    </div>
</div>

</div>
}

@* Time Picker *@
<div id="dtBox"></div>
<script>
    $(document).ready(function() {
        $("#dtBox").DateTimePicker({
            mode: "datetime",
            dateTimeFormat: "dd-MMM-yyyy HH:mm:ss AA",
        });
    });
</script>