@model TMD.Web.ViewModels.Contact.ContactViewModel 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 8;
    Session["ParentMenu"] = 1;

    //string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
    string display = "";
    bool readonly1 = true;
}


@using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ContactForm" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x=>x.Contact.ContactID);
    @Html.HiddenFor(x=>x.Contact.CreatedDate);
    @Html.HiddenFor(x=>x.Contact.CreatedBy);
    @Html.HiddenFor(x=>x.Contact.UpdateDate);
    @Html.HiddenFor(x=>x.Contact.UpdatedBy);
    
    

    <div class="portlet portletCustomHeight light bg-inverse">
        <div class="portlet-title">
            <div class="tools">
            </div>
            <div class="caption">
                <i class="icon-credit-card font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Contact</span>
                <span class="caption-helper">Create</span>

            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
               

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.FirstName, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.FirstName, new { @class = "form-control mandatory", placeholder = "First Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.LastName, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.LastName, new { @class = "form-control mandatory", placeholder = "Last Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Email, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.Email, new { @class = "form-control mandatory", placeholder = "Email", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.CellNo, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.CellNo, new { @class = "form-control mandatory", placeholder = "Cell No.", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.HomePhone, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.HomePhone, new { @class = "form-control", placeholder = "Home Phone", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Fax, new { @class = "col-md-3 control-label " })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.Fax, new { @class = "form-control ", placeholder = "Fax    ", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.CompanyName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.CompanyName, new { @class = "form-control", placeholder = "Company Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="portlet box red-sunglo">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Address(s)
                            </div>
                            <div class="tools">
                                <a href="javascript:;" data-toggle="modal" data-target="#myModal" class="mustDisplay" style="color: white;">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content" id="addressTable">
                                <thead class="flip-content">
                                    <tr>
                                        <th style='display:none'></th>
                                        <th width="10%">
                                            Country
                                        </th>
                                        <th width="10%">
                                            State
                                        </th>
                                        <th width="10%">
                                            City
                                        </th>
                                        <th width="15%">
                                            Street
                                        </th>
                                        <th width="20%">
                                            Address Line 1
                                        </th>
                                        <th width="20%">
                                            Address Line 2
                                        </th>
                                        @*<th width="10%">
                                            Address Type
                                        </th>*@
                                        <th width="5%">
                                            <span class="mustDisplay">Remove</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="AddressTableBody">
                                    @if (Model.Addresses != null)
                                    {
                                        for (int i = 0; i < Model.Addresses.Count; i++)
                                        {
                                            <tr data-id="@i">
                                                <td style="display:none">
                                                    <input name='Addresses.Index' type='hidden' value='@i' />
                                                    @Html.HiddenFor(model => model.Addresses[i].AddressId)
                                                    @Html.HiddenFor(model => model.Addresses[i].ContactID)
                                                </td>
                                                <td>@Html.TextBoxFor(model => model.Addresses[i].Country, new { readOnly = "readOnly", @class = "ProductTableColumn", tabindex = "-1" })</td>
                                                <td>@Html.TextBoxFor(model => model.Addresses[i].State, new { readOnly = "readOnly", @class = "ProductTableColumn", tabindex = "-1" })</td>

                                                <td>@Html.TextBoxFor(model => model.Addresses[i].City, new { readOnly = "readOnly", @class = "ProductTableColumn", tabindex = "-1" })</td>

                                                <td>@Html.TextBoxFor(model => model.Addresses[i].Street, new { readOnly = "readOnly", @class = "ProductTableColumn", tabindex = "-1" })</td>

                                                <td>@Html.TextBoxFor(model => model.Addresses[i].Address1, new { readOnly = "readOnly", @class = "ProductTableColumn", tabindex = "-1" })</td>

                                                <td>@Html.TextBoxFor(model => model.Addresses[i].Address2, new { readOnly = "readOnly", @class = "ProductTableColumn", tabindex = "-1" })</td>

                                                @*<td>
                                                    @Html.HiddenFor(model => model.Addresses[i].AddressType)
                                                    @Html.TextBoxFor(model => model.Addresses[i].AddressType, new { @readOnly = "readOnly", tabindex = "-1" })
                                                </td>*@

                                                <td><a href="javascript:;" class="btn default btn-xs red remove" title="Delete"><i class="fa fa-trash-o"></i></a></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>





                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <button type="submit" class="btn green-seagreen">Save</button>
                                    <button type="button" class="btn blue-steel" onclick="clearFields()">Clear</button>
                                    <a href="@Url.Action("Index", "Contact")" class="btn red-sunglo">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>


                <!--Modal Pop Up Address-->

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-centered">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header " style="background: #e26a6a; color: white;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-align-center ">Enter Address Information</h4>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label requiredLabel">Country</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtCountry" name="Country" class="form-control mandatoryModal" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">State</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtState" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label requiredLabel">City</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtCity" name="City" class="form-control mandatoryModal" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Street</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtStreet" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label requiredLabel">Address Line 1</label>
                                            <div class="col-md-10">
                                                <textarea id="txtAddressLine1" name="Address Line 1" class="form-control mandatoryModal"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Address Line 2</label>
                                            <div class="col-md-10">
                                                <textarea id="txtAddressLine2" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Is Primary</label>
                                            <div class="col-md-10">
                                                <input type="checkbox" id="chkIsPrimaryAddress" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>*@


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger saveSupervisor">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document)
        .ready(function() {
          
            if ($("#addressTable").children("tbody").children("tr").children("td").html() ==
                    "No data available in table"
            ) {
                $("#addressTable").children("tbody").children("tr").remove();
            }

            $('.remove').live("click", function () {

                if (!confirm("Are you sure to delete this address?")) {
                    return;
                }
                $(this).parent().parent().remove();
            });

            $(".saveSupervisor").click(function () {
                //validate fields
                if (!(ValidateFieldsByClass("mandatoryModal"))) {
                    return false;
                }
                var contactId = '@Model.Contact.ContactID';
                var country = $("#txtCountry").val();
                var city = $("#txtCity").val();
                var state = $("#txtState").val();
                var street = $("#txtStreet").val();
                var addline1 = $("#txtAddressLine1").val();
                var addline2 = $("#txtAddressLine2").val();
                //var addtype = $("#chkIsPrimaryAddress").is(':checked');

                $(this).closest(".modal").modal('hide');

                var index = $('#AddressTableBody tr:last').index() + 1;

            if (country !== "") {
                //supervisorRow = [
                //    "<input name='Addresses.Index' type='hidden' value='" + rowCount + "'/>" + "<input readonly='readonly' name='Addresses[" + rowCount + "].AddressId' type='hidden' style='border:none;background:#f9f9f9;display:none;'/>",
                //    "<input  name='Addresses[" + rowCount + "].Country' id='Addresses_'" + rowCount + "'__Country' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + country + "'/>",
                //    "<input  name='Addresses[" + rowCount + "].State' id='Addresses_'" + rowCount + "'__State' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + state + "'/>",
                //    "<input  name='Addresses[" + rowCount + "].City' id='Addresses_'" + rowCount + "'__City' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + city + "'/>",
                //    "<input  name='Addresses[" + rowCount + "].Street' id='Addresses_'" + rowCount + "'__Street' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + street + "'/>",
                //    "<input  name='Addresses[" + rowCount + "].Address1' id='Addresses_'" + rowCount + "'__Address1' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + addline1 + "'/>",
                //    "<input  name='Addresses[" + rowCount + "].Address2' id='Addresses_'" + rowCount + "'__Address2' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + addline2 + "'/>",
                //    "<input  name='Addresses[" + rowCount + "].AddressType' id='Addresses_'" + rowCount + "'__AddressType' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + addtype + "'/>",

                //    "<a class='remove' href='javascript:;'>Remove</a>"
                //];

                var indexCell = "<td style='display:none'>" +
                                "<input name='Addresses.Index' type='hidden' value='" + index + "' />" +
                                "<input name='Addresses[" + index + "].ContactID' id='Addresses_" + index + "__ContactID' type='hidden'  value='" + contactId + "'/>" +
                                "<input name='Addresses[" + index + "].AddressId' id='Addresses_" + index + "__AddressId' type='hidden' />" +
                                "</td>";

                //Addresses
                var html = ' <tr data-id=' + index + '>' +
                    indexCell +
                    '<td>' +
                    '<input id="Addresses_' + index + '__Country" name="Addresses[' + index + '].Country" value="' + country + '" type="text" class = "ProductTableColumn" readOnly = "readOnly"/>' +
                    '</td>' +
                    '<td>' +
                    '<input id="Addresses_' + index + '__State" name="Addresses[' + index + '].State" value="' + state + '" type="text" class="ProductTableColumn" readOnly = "readOnly"/>' +
                    '</td>' +
                     '<td>' +
                    '<input id="Addresses_' + index + '__City" name="Addresses[' + index + '].City" value="' + city + '" type="text" class="ProductTableColumn" readOnly = "readOnly"/>' +
                    '</td>' +
                     '<td>' +
                    '<input id="Addresses_' + index + '__Street" name="Addresses[' + index + '].Street" value="' + street + '" type="text" class="ProductTableColumn" readOnly = "readOnly"/>' +
                    '</td>' +
                    '<td>' +
                    '<input id="Addresses_' + index + '__Address1" name="Addresses[' + index + '].Address1" value="' + addline1 + '" type="text"  class="ProductTableColumn" readOnly = "readOnly"/>' +
                    '</td>' +
                    '<td>' +
                    '<input id="Addresses_' + index + '__Address2" name="Addresses[' + index + '].Address2" value="' + addline2 + '" type="text" class = "ProductTableColumn" readOnly = "readOnly"/>' +
                    '</td>' +
                    //'<td>' +
                    //'<input id="Addresses_' + index + '__AddressType" name="Addresses[' + index + '].AddressType" value="' + addtype + '" type="text" class = "ProductTableColumn" readOnly = "readOnly"/>' +
                    //'</td>' +
                    '<td>' +
                    '<a href="javascript:;" class="btn default btn-xs red remove" title="Delete"><i class="fa fa-trash-o"></i></a>' +
                    '</td>' +
                    '</tr>';
                $('#AddressTableBody').append(html);
            }
            clearInputFields("#myModal");
            //$(".remove").on('click', function () {

            //    var target_row = $(this).closest("tr").get(0);
            //    var aPos = oTable.fnGetPosition(target_row);
            //    oTable.fnDeleteRow(aPos);
            //});
        });

        //$('.portletCustomHeight').show();


    });

</script>