@model TMD.Web.ViewModels.Contact.ContactViewModel 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 8;
    Session["ParentMenu"] = 1;
}


@using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ContactForm" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x=>x.Contact.ContactID);
    @Html.HiddenFor(x=>x.Contact.CreatedDate);
    @Html.HiddenFor(x=>x.Contact.CreatedBy);
    @Html.HiddenFor(x=>x.Contact.UpdateDate);
    @Html.HiddenFor(x=>x.Contact.UpdatedBy);
    
    

    <div class="portlet portletCustomHeight light bg-inverse">
        <div class="portlet-title">
            <div class="tools">
            </div>
            <div class="caption">
                <i class="icon-credit-card font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Contact</span>
                <span class="caption-helper">Create</span>

            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
               

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.FirstName, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.FirstName, new { @class = "form-control mandatory", placeholder = "First Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.LastName, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.LastName, new { @class = "form-control mandatory", placeholder = "Last Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Email, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.Email, new { @class = "form-control mandatory", placeholder = "Email", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.CellNo, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.CellNo, new { @class = "form-control mandatory", placeholder = "Cell No.", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.HomePhone, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.HomePhone, new { @class = "form-control", placeholder = "Home Phone", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Fax, new { @class = "col-md-3 control-label " })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.Fax, new { @class = "form-control ", placeholder = "Fax    ", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.CompanyName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.CompanyName, new { @class = "form-control", placeholder = "Company Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    
                </div>

               

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <button type="submit" class="btn green-seagreen">Save</button>
                                    <button type="button" class="btn blue-steel" onclick="clearFields()">Clear</button>
                                    <a href="@Url.Action("Index","Contact")" class="btn red-sunglo">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
