@model TMD.Web.ViewModels.Contact.ContactViewModel 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 8;
    Session["ParentMenu"] = 1;

    //string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
    string display = "";
    bool readonly1 = true;
}


@using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ContactForm" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x=>x.Contact.ContactID);
    @Html.HiddenFor(x=>x.Contact.CreatedDate);
    @Html.HiddenFor(x=>x.Contact.CreatedBy);
    @Html.HiddenFor(x=>x.Contact.UpdateDate);
    @Html.HiddenFor(x=>x.Contact.UpdatedBy);
    
    

    <div class="portlet portletCustomHeight light bg-inverse">
        <div class="portlet-title">
            <div class="tools">
            </div>
            <div class="caption">
                <i class="icon-credit-card font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Contact</span>
                <span class="caption-helper">Create</span>

            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
               

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.FirstName, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.FirstName, new { @class = "form-control mandatory", placeholder = "First Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.LastName, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.LastName, new { @class = "form-control mandatory", placeholder = "Last Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Email, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.Email, new { @class = "form-control mandatory", placeholder = "Email", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.CellNo, new { @class = "col-md-3 control-label requiredLabel" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.CellNo, new { @class = "form-control mandatory", placeholder = "Cell No.", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.HomePhone, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.HomePhone, new { @class = "form-control", placeholder = "Home Phone", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Fax, new { @class = "col-md-3 control-label " })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.Fax, new { @class = "form-control ", placeholder = "Fax    ", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.CompanyName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Contact.CompanyName, new { @class = "form-control", placeholder = "Company Name", rows = 5, @style = "resize:none" })
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--Modal Pop Up Address-->

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-centered">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header " style="background: #e26a6a; color: white;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-align-center ">Enter Address Information</h4>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Country</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtCountry" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">State</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtState" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">City</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtCity" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Street</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtStreet" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Address Line 1</label>
                                            <div class="col-md-10">
                                                <textarea id="txtAddressLine1" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Address Line 2</label>
                                            <div class="col-md-10">
                                                <textarea id="txtAddressLine2" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Is Primary</label>
                                            <div class="col-md-10">
                                                <input type="checkbox" id="chkIsPrimaryAddress" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger saveSupervisor">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row hideOthersDetail">
                    <div class="portlet box red-sunglo">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Address(s)
                            </div>
                            <div class="tools">
                                <a href="javascript:;" data-toggle="modal" data-target="#myModal" class="mustDisplay" style="color: white;">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content" id="supervisorTable">
                                <thead class="flip-content">
                                    <tr>
                                        <th style="width: 1% !important">

                                        </th>
                                        <th width="20%">
                                            Country
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th class="numeric">
                                            City
                                        </th>
                                        <th class="numeric">
                                            Street
                                        </th>
                                        <th class="numeric">
                                            Address Line 1
                                        </th>
                                        <th class="numeric">
                                            Address Line 2
                                        </th>
                                        <th class="numeric">
                                            Address Type
                                        </th>
                                        <th>
                                            <span class="mustDisplay">Remove</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Addresses != null)
                                    {
                                        for (int i = 0; i < Model.Addresses.Count; i++)
                                        {
                                            <tr data-id="@i">
                                                <td style="width: 1% !important">
                                                    <input name='Addresses.Index' type='hidden' value='@i' />

                                                    <input readonly='readonly' name='Addresses[@i].AddressId' type='hidden' style='border: none; background: #f9f9f9; display: none;' value='@Model.Addresses[i].AddressId' />
                                                </td>
                                                <td>@Model.Addresses[i].Country</td>
                                                <td>
                                                    @Model.Addresses[i].State
                                                </td>
                                                <td>@Model.Addresses[i].City</td>
                                                <td>
                                                    @Model.Addresses[i].Street
                                                </td>
                                                <td>@Model.Addresses[i].Address1</td>
                                                <td>@Model.Addresses[i].Address2</td>
                                                <td>@Model.Addresses[i].AddressType</td>
                                                <td><a class='remove mustDisplay' href='javascript:;'>Remove</a></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>





                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <button type="submit" class="btn green-seagreen">Save</button>
                                    <button type="button" class="btn blue-steel" onclick="clearFields()">Clear</button>
                                    <a href="@Url.Action("Index","Contact")" class="btn red-sunglo">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document)
        .ready(function() {
            var oTable = $("#supervisorTable").dataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                bFilter: false,

            });
            if ($("#supervisorTable").children("tbody").children("tr").children("td").html() ==
                    "No data available in table"
            ) {
                $("#supervisorTable").children("tbody").children("tr").remove();
            }
            $(".remove")
                .on('click',
                    function() {
                        var target_row = $(this).closest("tr").get(0);
                        var aPos = oTable.fnGetPosition(target_row);
                        oTable.fnDeleteRow(aPos);
                    });
            $(".saveSupervisor").click(function() {
                var country = $("#txtCountry").val();
                var city = $("#txtCity").val();
                var state = $("#txtState").val();
                var street = $("#txtStreet").val();
                var addline1 = $("#txtAddressLine1").val();
                var addline2 = $("#txtAddressLine2").val();
                var contacttype = $("#chkIsPrimaryAddress").val();




                    $(this).closest(".modal").modal('hide');

                    @*var supervisorsList = '@Html.Raw(Json.Encode(Model.Employees))';

            var parsedSupervisorList = JSON.parse(supervisorsList);*@

            var rowCount = $('table#supervisorTable tbody tr:last').index() + 1;

            if (country !== "") {
                supervisorRow = [
                    "<input name='Addresses.Index' type='hidden' value='" + rowCount + "'/>" + "<input readonly='readonly' name='Addresses[" + rowCount + "].AddressId' type='hidden' style='border:none;background:#f9f9f9;display:none;'/>",
                    "<input  name='Addresses[" + rowCount + "].Country' id='Addresses_'" + rowCount + "'__Country' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + country + "'/>",
                    "<input  name='Addresses[" + rowCount + "].State' id='Addresses_'" + rowCount + "'__State' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + state + "'/>",
                    "<input  name='Addresses[" + rowCount + "].City' id='Addresses_'" + rowCount + "'__City' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + city + "'/>",
                    "<input  name='Addresses[" + rowCount + "].Street' id='Addresses_'" + rowCount + "'__Street' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + street + "'/>",
                    "<input  name='Addresses[" + rowCount + "].Address1' id='Addresses_'" + rowCount + "'__Address1' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + addline1 + "'/>",
                    "<input  name='Addresses[" + rowCount + "].Address2' id='Addresses_'" + rowCount + "'__Address2' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + addline2 + "'/>",
                    "<input  name='Addresses[" + rowCount + "].AddressType' id='Addresses_'" + rowCount + "'__AddressType' readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + contacttype + "'/>",

                    "<a class='remove' href='javascript:;'>Remove</a>"
                ];
            }

            @*$.each(parsedSupervisorList, function (key, value) {
                if (value.EmployeeId == parseInt(supervisorId)) {
                    var DesignationsList = '@Html.Raw(Json.Encode(Model.Designation))';
                    var parsedDesignationsList = JSON.parse(DesignationsList);
                    $.each(parsedDesignationsList, function(key2, value2) {
                        if (value2.DesignationId == parseInt(value.DesignationId)) {
                            supervisorRow = ["<input name='EmployeeSupervisor.Index' type='hidden' value='" + rowCount + "'/>" + "<input readonly='readonly' name='EmployeeSupervisor[" + rowCount + "].SupervisorId' type='hidden' style='border:none;background:#f9f9f9;display:none;' value='" + value.EmployeeId + "'/>", "<input readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + value.FullName + "'/>", "<input readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + value2.Title + "'/>", "<input readonly='readonly' type='text' style='border:none;background:#f9f9f9' value='" + value.Email + "'/>", "<a class='remove' href='javascript:;'>Remove</a>"];
                        }
                    });
                }
            });*@



                oTable.fnAddData(supervisorRow);

            $(".remove").on('click', function () {

                var target_row = $(this).closest("tr").get(0);
                var aPos = oTable.fnGetPosition(target_row);
                oTable.fnDeleteRow(aPos);
            });
        });

        $('.portletCustomHeight').show();


    });

</script>