@using System.Web
@model TMD.Web.ViewModels.Contact.ContactViewModel
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
}
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<div class="portlet portletCustomHeight light bg-inverse">
    <div class="portlet-title">
        <div class="tools">

        </div>
        <div class="caption">
            <i class="fa fa-money font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Contact(s)</span>
            <span class="caption-helper">View</span>
        </div>
        <div class="pull-right">
        @*@if (userPermissionsSet.Contains("CreatePayroll"))
    {
     }*@
                <a href="@Url.Action("Create")" class="btn blue-madison"><i class="fa fa-plus"> Add Contact</i></a>
           

        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Search</label>
                </div>
                <div class="col-md-3 col-md-pull-1">
                    <input id="txtContactName" class="form-control" />
                </div>
              
                    <div class="col-md-2">
                        <label class="control-label">Cell No.</label>
                    </div>
                    <div class="col-md-3 col-md-pull-1">
                       
                        <input id="txtCellNo" class="form-control" />

                    </div>
                


                <button class="btn green-seagreen" id="filterBtn">Filter</button>
                <button class="btn blue-hoki" id="ResetBtn">Reset</button>
            </div>
            <br />

            <div class="row">
                <div class="portlet box red-sunglo">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>Address
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-hover Tickets" id="dataTable">
                            <thead class="flip-content">
                                <tr>
                                    <th>
                                        Contact Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th class="">
                                        Cell No
                                    </th>
                                    <th class="">
                                        Company Name
                                    </th>
                                    

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <!--/row-->
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        $('<style type="text/css"> .ui-datepicker-current { display: none; } </style>').appendTo("head");
        //setCurrentMonth();
        if ('@userPermissionsSet.Contains("ViewAllEmployeesPayroll")' == 'False')
            $('#PayrollSearchRequest_EmployeeId').addClass('notAllowed');

        //$("#PayrollSearchRequest_EmployeeId").select2();

        var siteURL = $('#siteURL').val();
        var start = ('@Model.PayrollSearchRequest.PageNo' - 1) * '@Model.PayrollSearchRequest.PageSize';
        var isAsc = '@Model.PayrollSearchRequest.IsAsc' == "True" || '@Model.PayrollSearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.PayrollSearchRequest.SortBy', isAsc ? 'asc' : 'desc'];

        var columns = [
            {
                "aTargets": [1],
                "sDefaultContent": "No Data",
                "mRender": function(data, type, full) {
                    var element;
                    var val;
                    var empId;
                    var date;
                    val = full["AllowanceDate"];
                    empId = full["EmployeeId"];
                    date = full["AllowanceDate"];
                    element = '<a href="@Url.Action("Create")?Eid=' + empId + '&M=' + date + '">' + val + '</a>';
                    return element;
                }
            },
            //{ "data": "AllowanceDate" },
            { "data": "EmployeeName" },
            { "data": "BasicSalary" },
            { "data": "Allowances" },
            { "data": "Total" }
        ];

        var attendances = $('#dataTable').dataTable({
            "iDisplayLength": 50,
            "displayStart": start || 0,
            "bFilter": false,

            "bLengthChange": false,
            "aaSorting": [sortBy],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [3, 4] }
            ],
            "columns": columns,
            "processing": true,
            "serverSide": true,
            "order": [[0, "desc"]],

            "ajax": {
                url: siteURL + "/Payroll/Index",
                type: "POST",
                dataType: "json",
                data: function(params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    params.IsAsc = params.order[0].dir === "asc";

                    params.EmployeeId = $('#PayrollSearchRequest_EmployeeId').val();
                    params.Date = $('#filterByMonth').val();
                },
            }
        });

        //var currentDate = $('#filterByMonth').val();

        $('#filterBtn').on('click', function() {
            attendances.fnDraw();

        });

        $('#ResetBtn').on('click', function() {
            $('#PayrollSearchRequest_EmployeeId').select2('val', '');
            //$('#filterByMonth').val("");
            setCurrentMonth();
            attendances.fnDraw();
        });


    });
    function setCurrentMonth() {
        debugger
        $('#filterByMonth').datepicker("setDate", new Date());
    }
</script>