@model TMD.Web.ViewModels.Dashboard.DashboardViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = "1";
}
<p class="lead">Please Select a menu from left side bar.</p>
<!-- BEGIN DASHBOARD STATS -->
@*<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.newOrderCount
                </div>
                <div class="desc">
                    New Orders
                </div>
            </div>
            <a class="more" href="/Order/Index">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.pendingOrderCount
                </div>
                <div class="desc">
                    Pending Orders
                </div>
            </div>
            <a class="more" href="/Order/Index">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.submittedOrderCount
                </div>
                <div class="desc">
                    Submitted Orders
                </div>
            </div>
            <a class="more" href="/Order/Index">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.completedOrderCount
                </div>
                <div class="desc">
                    Completed Orders
                </div>
            </div>
            <a class="more" href="/Order/Index">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>*@
<!-- END DASHBOARD STATS -->
@*<div class="clearfix">
</div>*@
@*<div class="row ">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>New Orders
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        @foreach (var order in @Model.NewOrders)
                        {
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-bell-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <div class="desc">
                                                    @order.FirstName @order.LastName <span class="label label-sm label-warning ">
                                                                                         Update <a href="/Case/Index/@order.OrderId"><i class="fa fa-share"></i></a>
                                                                                     </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="desc">
                                                     <a href="/Case/Index/@order.OrderId"> @order.FirstName @order.LastName<i class="fa"></i></a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        @order.RecCreatedDt.ToShortDateString()
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="~/Order/Index">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Completed Orders
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        @if (Model.CompletedOrders.Any())
                        {
                            foreach (var order in Model.CompletedOrders)
                            {
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    @order.FirstName @order.LastName <span class="label label-sm label-warning ">
                                                                                         Details <a href="/Case/Index/@order.OrderId"><i class="fa fa-share"></i></a>
                                                                                     </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            @order.RecLastUpdatedDt.ToShortDateString()
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li>
                                <div class="desc">No Records Found</div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@